[Unit]
Description=Load drivers and XMOS firmware
After=firmware-ampak-ap6214a.service

[Service]
Type=oneshot
ExecStart=/usr/bin/load-drivers
User=root

[Install]
WantedBy=multi-user.target
