[Unit]
Description=Overlay mount volatile /var/lib
DefaultDependencies=false
After=load-drivers.service

[Service]
Type=oneshot
RemainAfterExit=Yes
TimeoutSec=0
ExecStartPre=/bin/mkdir -p /udata/.elk-system/.work-var-lib
ExecStartPre=/bin/mkdir -p /udata/.elk-system/var/lib
ExecStart=/bin/mount -t overlay overlay -o lowerdir=/var/lib,upperdir=/udata/.elk-system/var/lib,workdir=/udata/.elk-system/.work-var-lib /var/lib

[Install]
WantedBy=multi-user.target
